<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="cursor: pointer" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li *ngIf="isAuthenticated">
          <a routerLinkActive="active" routerLink="/recipes">Recipes</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="/shopping-list"
            >Shopping List</a
          >
        </li>
        <li>
          <a
            routerLinkActive="active"
            routerLink="/auth"
            *ngIf="!isAuthenticated"
            >Authenticate</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a
            style="cursor: pointer"
            (click)="onLogout()"
            *ngIf="isAuthenticated"
            >Logout</a
          >
        </li>
        <li class="dropdown" appDropdown>
          <a
            style="cursor: pointer"
            class="dropdown-toggle"
            role="button"
            *ngIf="isAuthenticated"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a style="cursor: pointer" (click)="onSaveData()"> Save Data </a>
            </li>
            <li>
              <a style="cursor: pointer" (click)="onFetchData()">
                Fetch Data
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
